.about {
  position: relative;
  display: grid;
  grid-template-rows: 1fr;
}

.about-header {
  color: var(--accent);
  line-height: 1.5;
  font-size: 8rem;
  text-align: center;

  position: absolute;
  inset: 0 auto 0 auto;
  margin: auto 0;

  writing-mode: vertical-lr;
}

.blocks {
  font-size: 1rem;

  display: grid;
  gap: 1em;

  padding: 1em 0;
  margin: 0 5vw 0 16vw;

  --block-border-radius: 3rem;
  --title-size: 2em;
  --text-size: 1.5em;

  --extension: 0;
  --delay-factor: 150;

  height: 100%;
}

.block-pair {
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: 1fr;
  border-radius: var(--block-border-radius);
  isolation: isolate;

  --open-progress: 0;
}

.block {
  flex: 1 0 0;
  display: grid;
  border-radius: inherit;
  transition: translate 200ms ease-in-out;
}

.block-title {
  background-color: var(--accent);
  color: var(--bg-main);
  font-size: var(--title-size);
  font-weight: 900;
  place-items: center;
  padding: 0;

  translate: calc(-1 * 50% * (1 - var(--open-progress))) 0;

  z-index: 1;
}

.block-text {
  background-color: var(--dark-grey);
  color: var(--accent);
  font-size: var(--text-size);
  padding: 1.5em;

  translate: calc(50% * (1 - var(--open-progress))) 0;
}

.block-text::after {
  background-color: var(--dark-grey);
  content: "";
  width: calc(2 * var(--block-border-radius));
  position: absolute;
  inset: 0 calc(-1 * var(--block-border-radius)) 0 auto;
  opacity: var(--extension);
  transition: opacity 10ms linear 0ms;
  z-index: -1;
}

.blocks.open .block-pair {
  --open-progress: 1;
}

.blocks.open .block {
  transition: all 1000ms ease-in-out;
}

.blocks.open .block-text::after {
  transition: opacity 100ms linear 800ms;
}

@media (width < 1600px) {
  .blocks {
    --title-size: 2em;
    --text-size: 1.2em;
  }
}

@media (width < 1000px) {
  .about {
    grid-template-rows: auto 1fr;
  }

  .about-header {
    position: initial;
    writing-mode: initial;

    font-size: 4rem;
  }

  .blocks {
    --block-border-radius: 1.5rem;
    margin: 0 3rem;

    --title-size: 2em;
    --text-size: 1em;
  }
}

@media (width < 640px) {
  .blocks {
    padding: 1em;
    margin: 0;
    gap: 0.5em;
    --block-border-radius: 0.75rem;
    --title-size: 1.5em;
    --text-size: 1em;
  }

  .block-pair {
    grid-auto-flow: row;
    overflow: hidden;
  }

  .block-title {
    translate: calc(110% * (1 - var(--open-progress))) 0;

    /* translate: 0 0; */

    grid-column: 1;

    padding: 0.5em 0;
  }

  .block-text {
    translate: calc(-1 * 110% * (1 - var(--open-progress))) 0;

    /* translate: 0 0;
    transform-origin: top;
    scale: 1 calc(100% * var(--open-progress)); */

    grid-row: 2;
    padding: 1em;
  }

  .block-text::after {
    width: auto;
    height: calc(2 * var(--block-border-radius));
    inset: calc(-1 * var(--block-border-radius)) 0 auto 0;
  }

  .blocks.open .block-text::after {
    transition: opacity 100ms linear 900ms;
  }
}
