.about {
  position: relative;
}

.about-header {
  color: var(--accent);
  line-height: 1.2;
  font-size: 8rem;
  position: absolute;
  inset: 0 auto 0 0;
  margin: auto 0;

  transform-origin: center;
  rotate: 90deg;
  translate: -40% 0;

  max-height: fit-content;
  text-align: center;
}

.blocks {
  display: grid;
  place-items: center;
  gap: 1em;
  font-size: 1rem;
  padding: 0.5em 0;

  margin: 0 10em;
}

.block-pair {
  display: grid;
  grid-auto-flow: row;
  grid-auto-columns: 1fr;
  border-radius: 2.5em;
  isolation: isolate;

  --open-progress: 0;
}

.block {
  flex: 1 0 0;
  display: grid;
  padding: 1.25em 1.5em;
  border-radius: inherit;
  transition: translate 200ms ease-in-out;
}

.block-title {
  background-color: var(--accent);
  color: var(--bg-main);
  font-size: 2em;
  font-weight: bold;
  place-items: center;
  grid-column: 2;

  translate: calc(-1 * 50% * (1 - var(--open-progress))) 0;

  z-index: 1;
}

.block-text {
  background-color: var(--dark-grey);
  color: var(--accent);
  font-size: 1.25em;

  translate: calc(50% * (1 - var(--open-progress))) 0;
}

.block-text::after {
  background-color: var(--dark-grey);
  content: "";
  width: 5rem;
  position: absolute;
  inset: 0 -2.5rem 0 auto;
  opacity: var(--open-progress);
  transition: opacity 10ms linear 0ms;
  z-index: -1;
}

.blocks.open .block-pair {
  --open-progress: 1;
}

.blocks.open .block {
  transition: translate 1000ms ease-in-out;
}

.blocks.open .block-text::after {
  transition: opacity 100ms linear 500ms;
}

@media (width > 1600px) {
  .main-header {
    font-size: 3.5rem;
    padding: 2em 1em 6em;
  }

  .block-title {
    padding: 3.5em 1.5em;
  }
}

@media (width < 900px) {
  .main-header {
    font-size: 2.5rem;
  }

  .main-heading {
    width: min-content;
  }

  .sub-heading {
    width: fit-content;
  }

  .about-header {
    position: initial;
    rotate: 0deg;
    translate: 0 0;

    font-size: 4rem;
  }

  .blocks {
    font-size: 0.5rem;
    padding: 1em;
    margin: 0;
  }

  .block-pair {
    border-radius: 4em;
  }

  .block-title {
    font-size: 3em;
    padding: 2.5em 2em;
  }

  .block-text {
    font-size: 1.5em;
    padding: 2.5em;
  }
}

@media (width < 600px) {
  .main-header {
    font-size: 2rem;
  }

  .blocks {
    font-size: 0.5rem;
    padding: 1em;
    margin: 0;

    overflow-x: hidden;
  }

  .block-pair {
    grid-auto-flow: column;
    border-radius: 1.5em;
  }

  .block-title {
    translate: calc(100% * (1 - var(--open-progress))) 0;
    grid-column: 1;
    padding: 0.25em;
  }

  .block-text {
    translate: calc(-1 * 100% * (1 - var(--open-progress))) 0;
    grid-row: 2;
    padding: 1.5em;
  }

  .block-text::after {
    width: auto;
    height: 3em;
    inset: -1.5em 0 auto 0;
  }
}

@media (width < 450px) {
  .main-header {
    font-size: 1.75rem;
    padding: 2em 1em;
  }

  .blocks.open .block-text::after {
    transition: opacity 100ms linear 900ms;
  }
}
