@import url('https://fonts.googleapis.com/css2?family=Julius+Sans+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Jost:wght@500&display=swap');

.design1 input {
  height: 5rem;
  width: 100%;
  padding: 12px;
  border: 1px;
  outline: none;
  background: #191919;
  color: #fff;
  font-size: 1.1rem;
  font-family: 'Jost', sans-serif;
  margin-bottom: 0.7rem;
  border-radius: 10px;
}

.design2 {
  height: 5rem;
  width: 60%;
  font-size: 0.1rem;
  font-family: 'Jost', sans-serif;
  transition: all 0.3s linear;
  background: #191919;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.design3 {
  height: 100%;
  width: 40%;
  transition: all 0.3s linear;
  background: #191919;
  border-radius: 10px;
  margin-inline: 3%;
  display: flex;
  justify-content: center;
}

.design4 textarea {
  height: 205px;
  width: 80%;
  font-size: 23px;
  font-family: 'Jost', sans-serif;
  background: #191919;
  color: #fff;
  border: 1px;
  border-radius: 10px;
}

.soc {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40%;
}

.design5 {
  width: 80%;
  cursor: pointer;
  background: #171717;
  color: white;
  font-family: 'Jost', sans-serif;
  text-transform: none;
  text-align: center;
  border-radius: 10px;
}

.head {
  background-clip: text;
  background-image: none;
  color: white;
  font-size: 5rem;
  font-family: 'Julius Sans One', sans-serif;
  padding-left: 150px;
  padding-top: 10px;
}

.bottom {
  padding-bottom: 7rem;
}

.outer-table {
  display: flex;
  justify-content: center;
  width: 100%;
}

.outer-col {
  width: 40%;
  padding: 0 1rem;
  padding-top: 70px;
  height: 100%;
}

.inner-table {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
}

.inner-col {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-block: 5px;
}

.contact td {
  padding-right: 11px;
}

.p1 {
  font-size: 20px;
  background-image: none;
  color: white;
}

.email {
  font-size: 20px;
  background-image: none;
  color: white;
  text-decoration: none;
  text-align: center;
}
