.design1 input,
.design2 input {
  height: 46px;
  width: 398px;
  padding-left: 20px;
  font-size: 15px;
  color: #111;
  border: 1px solid red;
  margin-bottom: 20px;
  border-radius: 4px;
  transition: all, 0.3s;
}
.design11 textarea {
  height: 200px;
  width: 300px;
  font-size: 15px;
  color: #111;
  border: 1px solid red;
  margin-bottom: 9px;
  border-radius: 4px;
  transition: all, 0.3s;
}
.design5,
.design6,
.design7,
.design8 {
  font-size: 2.8rem;
}
.soc1 {
  display: flex;
}
.soc2 {
  display: flex;
}

.contact img {
  height: 4rem;
  width: 4rem;
  text-align: center;
  margin: 10px;
  transition: all 0.3s;
}
.contact img:hover {
  transform: scale(1.4);
}
form button {
  width: 310px;
  cursor: pointer;
  border: none;
  display: inline-block;
  background: rgba(35, 225, 35, 0.715);
  color: #111;
  font-size: 14px;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva,
    Verdana, sans-serif;
  font-weight: 450;
  letter-spacing: 1.6px;
  text-transform: uppercase;
  border-radius: 50px;
  padding: 12px 40px 10px;
}
.head {
  color: red;
  padding-left: 220px;
  padding-top: 10px;
}
.p1 {
  color: white;
}

/* .container{
  display: grid;
 grid-template-columns: auto 1fr;
} */

.up {
  padding-top: 70px;
}

table {
  border-spacing: 10px;
}
td {
  padding-right: 20px;
}
