.content {
  --animation-time: 300ms;
}

.content.In {
  animation: In var(--animation-time) forwards;
}

.content.Out {
  animation: Out var(--animation-time) forwards;
}

@keyframes In {
  from {
    opacity: 0;
    filter: blur(5px);
  }
  to {
    opacity: 1;
    filter: blur(0);
  }
}

@keyframes Out {
  from {
    opacity: 1;
    filter: blur(0);
  }

  to {
    /* opacity: 0; */
    filter: blur(20px);
  }
}
