.text-block {
  padding: 2em;
  display: grid;
  place-items: center;
  border: lime 4px solid;
  text-align: justify;

  /* overflow: scroll; */

  /* display: none; */
}

.info {
  position: fixed;
  inset: 1em 0 auto;
  margin: 0 auto;

  width: 10rem;
  height: 5rem;

  background-color: green;
  color: white;

  outline: 2px solid coral;

  z-index: 11;
  display: grid;
  place-items: center;

  font-size: 24pt;

  display: none;
}

.bb {
  position: absolute;
  outline: white 2px solid;
  inset: auto 0;
  z-index: 10;

  display: none;

  transition: all 200ms ease;
}

.bb-1 {
  outline-color: red;
}
.bb-2 {
  outline-color: gold;
  inset: 10px;
}
.bb-3 {
  outline-color: violet;
}
.bb-4 {
  outline-color: pink;
}
.bb-5 {
  outline-color: cyan;
}
.bb-6 {
  outline-color: lime;
}

/* .page {
  box-shadow: red 0 0 0 1px inset;
} */

/* .page section {
  box-shadow: gold 0 0 0 1px inset;
} */

/* .team-carousel {
  scale: 0.5;
  outline: red 2px solid;
} */

/* * {
  outline: 2px gold solid;
} */
