body{
    background-color: black;
}
h1,p{
    background-image: linear-gradient(90deg,red,rgb(255, 140, 0));
    background-clip: text;
    color: transparent;
}

.main{
    display: flex;
    padding-top: 70px;
    margin: 0 -5px;
}
