.events {
  display: grid;
  grid-template-columns: 3fr 2.45fr;
  grid-template-rows: auto 1fr;
  place-items: center;
  gap: 1em;
}

.events-header {
  margin: 0.25em auto 0;
}

.events-list {
  list-style: none;
  font-size: clamp(1rem, 3.5vh, 2rem);
  font-weight: 500;
  padding: 1.5em;
  user-select: none;
}

.events-carousel {
  grid-row: 1/-1;
  width: 70%;
  margin: 2em;
}

.events-carousel > div:nth-child(1) {
  height: 20rem;
}

.carousel-nav-btn {
  display: none;
}

.events-carousel-img {
  object-fit: contain;
  object-position: top;
  width: 100%;
  /* height: 100%; */
  border-radius: 2.5rem;
}

@media (width < 900px) {
  .events {
    grid-template-columns: 1fr;
    grid-template-rows: auto 1fr auto;
    margin-bottom: 3rem;
    min-block-size: calc(100dvh - var(--page-offset) - 3rem);
  }

  .events-header {
    font-size: clamp(3rem, 10dvh, 5rem);
    margin: 0.5em auto 0;
  }

  .events-carousel {
    grid-row: 2;
    width: 90%;
  }

  .events-list {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 0 1em;
    font-size: 1rem;
  }
}
