.events-list :is(h1, p) {
  background-image: linear-gradient(90deg, red, rgb(255, 140, 0));
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
}

.events {
  display: flex;
  padding-top: 70px;
}
