.faculty {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1em;
  height: min-content;
}

.team-carousel .faculty {
  grid-area: 2 / 2;
}

.team-complete .faculty-img {
  height: clamp(12rem, 15vw, 15rem);
}

.faculty-member {
  display: grid;
  place-items: center;
  text-align: center;

  font-size: 1.25rem;
}

.faculty-img {
  height: 8em;
  aspect-ratio: 1 / 1;
  object-fit: cover;
  border-radius: 50%;
}

.faculty-name {
  font-size: 1em;
}

.faculty-position {
  margin-top: 0.5em;
  font-size: 0.75em;
}

@media (width < 900px) {
  .faculty {
    grid-column: 1;
    margin: 0 1em;
  }
}

@media (width < 640px) {
  .team-carousel .faculty-member {
    font-size: 0.75rem;
  }

  .team-carousel .faculty-name {
    width: 12ch;
  }

  .team-carousel .faculty-img {
    height: 10em;
  }
}

@media (width < 500px) {
  .team-complete .faculty {
    grid-template-columns: repeat(1, 1fr);
    gap: 4em;
  }
}
