:root {
  font-family: "DM Sans", Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;

  font-synthesis: weight;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;

  /* Colors */
  --white: #fff;
  --black: #000;
  --dark-grey: #202020;
  --light-grey: #333333;

  --bg-main: #010101;

  --accent: #82adff;

  /* Media Breakpoints */

  --phone: 640px;
  --tablet: 900px;
  --laptop: 1600px;
}

*,
*:is(::after, ::before) {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: var(--bg-main);
}

#root {
  display: grid;
  grid-template-rows: auto 1fr;
}

.page {
  --page-offset: 7rem;

  display: grid;
  /* grid-auto-rows: auto; */
  position: relative;
  gap: 5em;
  overflow-y: scroll;
  max-height: calc(100dvh - var(--page-offset));
}

.page section {
  margin: 0 4rem 0 0;
  min-block-size: calc(100dvh - var(--page-offset));
}

::-webkit-scrollbar {
  display: none;
  width: 0.25rem;
  opacity: 0.5;
}

::-webkit-scrollbar-thumb {
  background-color: var(--accent);
  border-radius: 0.5rem;
}

.defs-only {
  display: none;
}

.divider {
  width: 90%;
  height: 2px;
  margin: 1em 0 0.5em;
  background: var(--accent);
  outline: none;
}

.heading {
  font-family: "Julius Sans One", sans-serif;

  font-weight: 900;
  line-height: 1.2;

  color: transparent;
  text-transform: uppercase;

  display: inline-block;

  background-image: linear-gradient(210deg, hsl(0, 60%, 50%) 17.13%, hsla(0, 66%, 64%, 0) 80%),
    linear-gradient(50deg, hsl(259, 77%, 52%) -16.15%, hsla(259, 77%, 52%, 0) 95%);
  /* url("../assets/bg.gif"); */
  background-blend-mode: multiply;
  background-size: cover;
  background-clip: text;
  -webkit-background-clip: text;
}

@media (width < 900px) {
  .page {
    --page-offset: calc(7em / 1.5);
    scroll-snap-type: y mandatory;
    gap: 10rem;
  }

  .page section {
    margin: 0;
    scroll-snap-align: start;
  }
}
