:root {
  font-family: "DM Sans", Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  color-scheme: light dark;

  font-synthesis: weight;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  scroll-behavior: smooth;

  /* Colors */
  --white: #fff;
  --black: #000;
  --dark-grey: #202020;

  --bg-main: #010101;

  --accent: #82adff;
}

*,
*:is(::after, ::before) {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  height: 100%;
  background-color: var(--bg-main);
}

#root,
.app {
  height: 100%;
}

.app {
  display: flex;
  flex-direction: column;
}

.content {
  padding: 8em 1em 1em;
  flex-grow: 1;
}

::-webkit-scrollbar {
  display: none;
  -webkit-appearance: none;
  width: 0;
  opacity: 0.5;
}

::-webkit-scrollbar-thumb {
  background-color: var(--accent);
  border-radius: 0.5rem;
}

.defs-only {
  display: none;
}

.heading {
  font-family: "Julius Sans One", sans-serif;
  line-height: 1.15em;
  font-weight: 900;
  color: transparent;
  text-transform: uppercase;

  display: inline-block;

  background-image: linear-gradient(210deg, hsl(0, 60%, 50%) 17.13%, hsla(0, 66%, 64%, 0) 80%),
    linear-gradient(50deg, hsl(259, 77%, 52%) -16.15%, hsla(259, 77%, 52%, 0) 95%);
  /* url("../assets/bg.gif"); */
  background-blend-mode: multiply;
  background-position: bottom, top;
  background-repeat: no-repeat;
  background-clip: text;
  background-size: cover;
  -webkit-background-clip: text;
}

@media (width < 600px) {
  .content {
    margin-bottom: 3rem;
  }
}
