.main-header {
  font-size: clamp(1rem, 10dvh, 7rem);
  display: grid;
  gap: 0.5em;
  padding: 1em 0 0 1em;
  text-shadow: rgb(0 0 0 / 0.5) 0 -0.1em 0.2em;
  transition: all 200ms ease;
  height: max-content;
}

.main-heading {
  font-size: 1em;
  max-width: 15ch;
}

.sub-heading {
  font-size: 0.5em;
  max-width: 33ch;
}

@media (width < 1000px) {
  .main-header {
    font-size: 2.5rem;
  }

  .main-heading {
    width: min-content;
  }
  .sub-heading {
    width: auto;
  }
}

@media (width < 640px) {
  .main-header {
    font-size: clamp(2rem, 5dvh, 3rem);
    padding: 2em 1em 0;
  }
}
