.home-main {
  margin: 2em 1.5em 4.75em;
  display: flex;
  flex-direction: column;
  font-size: 3rem;
  text-shadow: rgb(0 0 0 / 0.5) 0 -0.1em 0.2em;
  transition: all 200ms ease;
}

.main-heading {
  font-size: 1.5em;
  margin-bottom: 0.25em;
  width: 15ch;
}

.sub-heading {
  font-size: 0.75em;
  width: 36ch;
}

@media (width < 900px) {
  .home-main {
    font-size: 1.5rem;
    margin: 1em;
  }
  .main-heading,
  .sub-heading {
    width: auto;
  }
}

@media (width > 1600px) {
  .home-main {
    font-size: 3.5rem;
    margin: 2em 1em 6em;
  }
}

.blocks {
  display: grid;
  place-items: center;
  gap: 1em;
  width: 90%;
  margin: 0 auto;
}

.block-pair {
  display: flex;
  border-radius: 2.5rem;
  isolation: isolate;
}

.block {
  flex: 1 0 0;
  display: grid;
  padding: 3em 2em;
  border-radius: inherit;
  transition: translate 500ms ease;
}

.block-title {
  background-color: var(--accent);
  color: var(--bg-main);
  font-size: 2rem;
  font-weight: bold;
  place-items: center;

  z-index: 1;
}

.block-text {
  background-color: var(--dark-grey);
  color: var(--accent);
  font-size: 1.5rem;
}

.block-text::after {
  background-color: var(--dark-grey);
  content: "";
  width: 4em;
  position: absolute;
  inset: 0 -2em 0 auto;
  opacity: 0;
  transition: opacity 100ms;
}

/* .block-pair:hover .block-text::after {
  opacity: 1;
}
.block-pair:hover .block {
  translate: 0 0;
} */
