.navbar {
  background-color: var(--bg-main);

  position: fixed;
  top: 0;
  width: 100%;
  overflow: hidden;

  z-index: 10;
}

.nav-content {
  display: grid;
  grid-template-columns: auto 1fr;

  padding: 0.25em 1em;
  margin: 0 0.5em;

  font-size: 2rem;

  border-bottom: var(--white) solid 4px;
}

.nav-logo {
  height: 3.5em;
  aspect-ratio: 1 / 1;
}

.nav-links {
  grid-column: -2 / -1;

  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  gap: 3em;

  padding-top: 0.75em;
}

.nav-link {
  color: var(--white);
  text-decoration: none;
  transition: color 75ms ease;
}

.nav-link:hover,
.nav-link.active {
  color: var(--accent);
}
