.socials {
  font-size: 1rem;

  background-color: var(--white);
  display: grid;
  grid-auto-flow: row;
  place-items: center;
  gap: 0.5em;

  height: max-content;

  position: fixed;
  inset: 0 0.75em 0 auto;
  margin: auto 0;
  padding: 1em 0.25em;

  border-radius: 100vmax;

  transform-origin: right;

  transition: all 200ms;

  z-index: 10;
}

.socials-link {
  transition: all 100ms;
  position: relative;
}

.socials-icon {
  --size: 2.25em;
  width: var(--size);
  height: var(--size);
}

.socials-link img {
  opacity: 0;
  transition: opacity 200ms ease;
}
.socials-link:is(:hover, :focus) img {
  opacity: 1;
}

@media (width < 900px) {
  .socials {
    font-size: 1.5rem;
    grid-auto-flow: column;
    padding: 0 1em;
    inset: auto 0 1em;
    margin: 0 auto;
    transform-origin: bottom;
    max-width: min-content;
  }
}

@media (width < 450px) {
  .socials {
    font-size: 1rem;
  }
}
