.team-carousel {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto 1fr;
  gap: 2rem;
}

.team-header {
  font-size: 5rem;
  text-align: center;
  max-width: fit-content;
  margin: 0.5em auto;
  grid-column: 2;
  grid-row: 1;
}

.carousel-container {
  grid-column: 1 / -1;
  grid-row: 1 / -1;
  overflow: auto hidden;
}

.carousel {
  --rotation: 25deg;

  rotate: var(--rotation);
  translate: -25rem 20rem;
}

.carousel-row {
  display: flex;
  justify-content: center;
  gap: 0 1em;
  margin: 1em 0;

  translate: 0 0;

  transform-origin: center;
  animation: name 30s linear infinite;
}

.carousel-row-1 {
  translate: -30% 0;
  animation-name: carousel-row-1;
}

.carousel-row-2 {
  translate: 53.45% 0;

  animation-name: carousel-row-2;
}

.carousel-item {
  height: 12rem;
  aspect-ratio: 1 / 1;
  border-radius: 50%;
  rotate: calc(-1 * var(--rotation));

  clip-path: circle(6rem);
}

.carousel-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: top;
}

.team-member-post {
  text-align: center;
  position: absolute;
  inset: 65% 0 0;
  padding: 0.5em 1.5em;
  font-size: 1.1rem;
  font-weight: 900;
  background-color: rgba(0 0 0 / 0.6);
}

@keyframes carousel-row-1 {
  to {
    translate: 59.65% 0;
  }
}
@keyframes carousel-row-2 {
  to {
    translate: -25% 0;
  }
}
