.team-complete {
  display: grid;
  grid-template-columns: 1fr auto;
  grid-template-rows: auto 1fr;
  /* place-items: center; */
}

.team-select {
  grid-column: 2;

  display: grid;
  gap: 0.5em;

  border: 2px solid var(--accent);
  border-radius: 2rem;

  padding: 0 2em 1em;
  height: min-content;

  align-self: center;
  justify-self: center;
}

.team-label {
  font-size: 2rem;
  font-weight: 500;
}

.team-select input {
  display: none;
}

.team-select label {
  font-size: 2rem;
  opacity: 0.5;
  transition: all 250ms ease;
  cursor: pointer;
}

.team-select:not(:has(input:checked)) .team-input:first-of-type label,
.team-input:has(input:checked) label {
  font-weight: 500;
  opacity: 1;
  color: var(--accent);
}

.divider {
  width: 90%;
  height: 2px;
  margin: 1em 0 0.5em;
  background: var(--accent);
  outline: none;
}
