.team-carousel {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto 1fr;
  gap: 2rem;
}

.team-header {
  font-size: 5rem;
  text-align: center;
  max-width: fit-content;
  margin: 0.5em auto;
  grid-column: 2;
  grid-row: 1;
}

.carousel-container {
  grid-column: 1 / -1;
  grid-row: 2;
  /* overflow: hidden; */
}

.carousel {
  --rotation: 25deg;

  rotate: var(--rotation);
  translate: -25rem 0rem;
}

.carousel-row {
  display: flex;
  justify-content: center;
  gap: 0 1em;

  translate: -100% 0;

  transform-origin: center;
  transition: all 20000ms linear;
}

.carousel:hover .carousel-row {
  translate: 100% 0;
}

.carousel-item {
  height: 12rem;
  aspect-ratio: 1 / 1;
}

.carousel-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: top;
  border-radius: 50%;

  rotate: calc(-1 * var(--rotation));
  /* border: var(--white) 8px solid; */
}
